.btn {
  cursor: pointer;
  transition: 0.7s ease;
}
.btn:hover {
  position: relative;
  transition: 0.7s ease;
  background-color: #fbce51;
  z-index: 2;
  color: #1f1f1f;
  border: none;
  scale: 1.05;
}
.btn:disabled {
  background-color: #d6d6d6;
  border: none;
  cursor: no-drop;
}