.section-subtitle {
  color: #3057a2;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-block: 0;
}
@media (max-width: 380px) {
  .section-subtitle {
    font-size: 18px;
    line-height: 22px;
  }
}
