.info__lecture {
  padding: 80px 72px 65px 72px;
  background-image: url(../../../images/playingСhess.png);
  background-repeat: no-repeat;
  background-position: 92.5% 69%;
}

@media (max-width: 380px) {
  .info__lecture {
    padding: 20px;

    background-position: 50% 53%;
    background-size: 89%;
  }
}
