.btn-type-light {
  color: #1f1f1f;
  background-image: url(../../../images/fon.jpg);
}
.btn-type-light:hover {
  background-color: #1f1f1f;
  color: #ffffff;
}

@media (max-width: 380px) {
  .btn__type-light {
    background-color: #313131;
    opacity: 0.2;
    border: none;
  }
}
