.stages__plane-pic {
  position: absolute;
  top: 60%;
  left: 70%;
}
@media (max-width: 1300px) {
  .stages__plane-pic {
    top: 5%;
    left: 70%;
    width: 30%;
    rotate: -4deg;
  }
}
@media (max-width: 1000px) {
  .stages__plane-pic {
    top: 35%;
    left: 10%;
    width: 40%;
  }
}
@media (max-width: 380px) {
  .stages__plane-pic {
    top: 33%;
    left: 9%;
    width: 90%;
  }
}
