.header__logo {
  width: 270px;
  height: 36px;
  display: block;
  color: #595653;
  font-weight: 700;
  font-size: 17px;

  line-height: 18px;
  display: flex;
  gap: 3px;
}

@media (max-width: 1750px) {
  .header__logo {
    align-items: center;
  }
}
@media (max-width: 380px) {
  .header__logo {
    font-size: 14px;
    line-height: 16px;
    gap: 5px;
  }
}
