.info__table-box {
  padding: 30px 72px 33px 0;
}
@media (max-width: 1300px) {
  .info__table-box {
  padding: 10%;
  }
}
@media (max-width: 380px) {
  .info__table-box {
    padding: 18px 0 25px;
  }
}
