.header__pic-town {
  background-image: url(../../../images/town.svg);
  width: 150%;

  height: 100%;
  position: absolute;
  top: 34%;
  left: 8.3%;
  background-repeat: no-repeat;
}

@media (max-width: 1750px) {
  .header__pic-town {
    left: -5%;
  }
}
@media (max-width: 1500px) {
  .header__pic-town {
    left: -120px;
    background-size: 80%;
  }
}
@media (max-width: 1300px) {
  .header__pic-town {
    left: -200px;
    top: 300px;
        background-size: 1500px auto;
    }
  }

    @media (max-width: 700px) {
      .header__pic-town {
        left: -200px;
        top: 460px;
        background-size: 1000px auto;
      }
      }
    
@media (max-width: 500px) {
  .header__pic-town {
    left: -400px;
        top: 530px;

    width: 500%;
  }
}
@media (max-width: 380px) {
  .header__pic-town {
    left: -410px;
    top: 530px;
    background-size: 900px auto;
    width: 500%;

  }
}
