.stages__list {
  margin-block: 0;
  padding-inline-start: 0;
  list-style: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-top: 57px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 21.5% 21.5% 26.2%);
  gap: 20px;
}