.header__pic-chess-one {
  background-image: url(../../../images/chess1.svg);
  background-repeat: no-repeat;

  position: absolute;
  top: 36%;
  left: 52.5%;
  width: 100%;
  height: 100%;
  z-index: 2;
}

@media (max-width: 1800px) {
  .header__pic-chess-one {
    top: 35.8%;
    left: 53.3%;
  }
}

@media (max-width: 380px) {
  .header__pic-chess-one {
    top: 66.5%;
    left: 16.5%;
    background-size: 16%;
  }
}
