.header__pic-chess-one {
  background-image: url(../../../images/chess1.svg);
  background-repeat: no-repeat;

  position: absolute;
  top: 36%;
  left: 52.5%;
  width: 100%;
  height: 100%;
}
@media (max-width: 1750px) {
  .header__pic-chess-one {
    top: 35.8%;
    left: 47%;
  }
}
@media (max-width: 1500px) {
  .header__pic-chess-one {
    left: 53.3%;
  }
}
@media (max-width: 1300px) {
  .header__pic-chess-one {
    left: 580px;
    top: 370px;
    background-size: 8%;
  }
}
@media (max-width: 1000px) {
  .header__pic-chess-one {
    left: 570px;
    top: 400px;
  }
}
@media (max-width: 700px) {
  .header__pic-chess-one {
    left: 320px;
    top: 520px;
  }
}
@media (max-width: 500px) {
  .header__pic-chess-one {
    top: 550px;
    left: 100px;
    background-size: 70px;
  }
}
@media (max-width: 380px) {
  .header__pic-chess-one {
    top: 66.5%;
    left: 16.5%;
    background-size: 16%;
  }
}
