.footer__text {
  padding: 40px 72px 72px;
  margin-block: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
@media (max-width: 380px) {
  .footer__text {
    padding: 40px 20px 60px;
  }
}
