.info__title {
  text-transform: uppercase;
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  margin-block: 0;
  max-width: 768px;
}
.info__title:first-child {
  padding-top: 27px;
}

@media (max-width: 1300px) {
  .info__title {
    font-size: 28px;
    line-height: 38px;
  }
}
