.players {
  padding: 81px 72px 77px 72px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 68px auto);
  
}

@media (max-width: 380px) {
  .players {
    padding: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  
  }
}
