.players {
  padding: 81px 72px 9px 72px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 68px auto);
}
@media (max-width: 380px) {
  .players {
    padding: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
