.header__pic-chess-two {
  background-image: url(../../../images/chess2.svg);
  background-repeat: no-repeat;

  position: absolute;
  top: 22%;
  left: 69.7%;
  width: 100%;
  height: 100%;
  z-index: -3;
}
@media (max-width: 1500px) {
  .header__pic-chess-two {
    left: 77.6%;
  }
}
@media (max-width: 380px) {
  .header__pic-chess-two {
    top: 63.4%;
    left: 51.3%;
    background-size: 16%;
    rotate: 6deg;
  }
}
