@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
.marquee__items {
  padding-inline: 0;
  margin-block: 0;
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  align-items: center;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 121%;
  gap: var(--gap);
  max-width: fit-content;
  animation: scroll 20s linear infinite;
}

@media (max-width: 1900px) {
  .marquee__items {
    min-width: 152%;
  }
}
@media (max-width: 1500px) {
  .marquee__items {
    min-width: 170%;
  }
}
@media (max-width: 1340px) {
  .marquee__items {
    min-width: 210%;
    font-size: 20px;
    line-height: 22px;
  }
}
@media (max-width: 1000px) {
  .marquee__items {
    min-width: 340%;
    font-size: 16px;
    line-height: 18px;
  }
}

@media (max-width: 500px) {
  .marquee__items {
    min-width: 450%;
  }
}
