.header__subtitle {
  padding-top: 25px;
  text-align: center;
  margin-block: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
@media (max-width: 380px) {
  .header__subtitle {
    text-align: left;
    padding-top: 23px;
  }
}
