.section-btn {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-position: center;
  border: none;
}
@media (max-width: 380px) {
  .section-btn {
    width: 36px;
    height: 36px;
  }
}
