.header__btn {
  text-decoration: none;
  border: #1f1f1f 2px solid;

  border-radius: 66px;

  width: 263px;

  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  padding: 12px 49px;
  display: block;

  text-align: center;
}
@media (max-width: 500px) {
  .header__btn {
    padding: 13px 41px;
    border: none;
    max-width: 252px;
  }
}
