.header__pic-sun {
  background-image: url(../../../images/sun.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: -6.5%;
  left: 46.5%;
  width: 100%;
  height: 100%;
  z-index: -4;
  transform-origin: center;
}
@media (max-width: 1750px) {
  .header__pic-sun {
    left: 615px;
  }
}
@media (max-width: 380px) {
  .header__pic-sun {
    background-size: 93%;
    left: 5px;
    top: 410px;
  }
}
