.players__btns {
  display: flex;
  width: 151px;
  height: 44px;
  justify-content: space-between;
  padding-top: 9px;
  padding-left: 63%;
}
@media (max-width: 1000px) {
  .players__btns {
    padding: 0;
    order: 3;
    width: 335px;
    justify-content: center;
    padding-bottom: 73px;
  }
}
