.stages__titile-box {
  display: flex;
  gap: 18px;
  max-width: 600px;
  height: 60px;
  align-items: center;
}

@media (max-width: 1000px) {
  .stages__titile-box {
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
  }
}
