.header__box {
  padding: 28px 0 128px 348px;
  max-width: 542px;
}

@media (max-width: 1750px) {
  .header__box {
    padding: 25px 0 131px 72px;
  }
}
@media (max-width: 380px) {
  .header__box {
    padding: 16px 8px 290px 20px;
  }
}
