.header__title {
  margin: 0;
  margin-block: 0;
  margin-inline: 0;
  padding-top: 60px;
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  font-size: 60px;

  line-height: 66px;
  text-transform: uppercase;
}

@media (max-width: 1750px) {
  .header__title {
    padding-top: 63px;
  }
}
@media (max-width: 1000px) {
  .header__title {
    font-size: 46px;
    line-height: 48px;
    padding-top: 39px;
  }
}
@media (max-width: 500px) {
  .header__title {
    text-align: center;
    font-size: 36px;
    line-height: 40px;
  }
}
@media (max-width: 380px) {
  .header__title {
    text-align: left;
     }
}