.header__pic-chess-four {
  background-image: url(../../../images/chess4.svg);
  background-repeat: no-repeat;

  position: absolute;
  top: 73.2%;
  left: 79%;
  width: 100%;
  height: 100%;
}

@media (max-width: 1750px) {
  .header__pic-chess-four {
    left: 78%;
  }
}
@media (max-width: 1500px) {
  .header__pic-chess-four {
    left: 1240px;
  }
}
@media (max-width: 1300px) {
  .header__pic-chess-four {
    left: 1000px;
    top: 580px;
  }
}
@media (max-width: 700px) {
  .header__pic-chess-four {
    display: none;
  }
}
