.players__items {
  margin-block: 0;
  padding-inline: 0;
  padding: 60px 38px;
  display: flex;
  gap: 93px;
  grid-column: 1/4;
  overflow: hidden;
}
@media (max-width: 1300px) {
  .players__items {
    max-width: 780px;
   
  }
}
@media (max-width: 1000px) {
  .players__items {
    max-width: 300px;
   
  }
}
@media (max-width: 380px) {
  .players__items {
    padding: 38px 0;
    gap: 32px;
  }
}
